In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [2]:
attr = pd.read_csv("general_data.csv")

In [3]:
attr.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
attr.shape

(4410, 24)

In [5]:
attr.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
attr.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [7]:

label_encoder = preprocessing.LabelEncoder()

In [8]:
attr["Attrition"]=label_encoder.fit_transform(attr["Attrition"])
attr["Gender"]=label_encoder.fit_transform(attr["Gender"])
attr["JobRole"]=label_encoder.fit_transform(attr["JobRole"])
attr["MaritalStatus"]=label_encoder.fit_transform(attr["MaritalStatus"])
attr["BusinessTravel"]=label_encoder.fit_transform(attr["BusinessTravel"])
attr["Department"]=label_encoder.fit_transform(attr["Department"])
attr["EducationField"]=label_encoder.fit_transform(attr["EducationField"])

In [9]:
attr.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [10]:
attr.drop(["EmployeeID","Over18","StandardHours","EmployeeCount","TotalWorkingYears","NumCompaniesWorked"],axis=1,inplace=True)

In [11]:
attr.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'PercentSalaryHike',
       'StockOptionLevel', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [12]:
rf_model = RandomForestClassifier(n_estimators = 1000,max_features=2,oob_score=True)

In [17]:
feat = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'PercentSalaryHike',
       'StockOptionLevel', 'TrainingTimesLastYear', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [18]:
rf_model.fit(X=attr[feat],y=attr["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
print("OOB SCORE:",rf_model.oob_score_)

OOB SCORE: 1.0

In [20]:
for feature,imp in zip(feat,rf_model.feature_importances_):
    print(feature,imp)

Age 0.118383993007395
BusinessTravel 0.03135406069443592
Department 0.029736888528761135
DistanceFromHome 0.08089812851515461
Education 0.047176380603278716
EducationField 0.045811027112150744
Gender 0.02144793710317105
JobLevel 0.043582797425710085
JobRole 0.06289381573064015
MaritalStatus 0.04355919518645013
MonthlyIncome 0.11012306542951418
PercentSalaryHike 0.07617871698692397
StockOptionLevel 0.03849165591087928
TrainingTimesLastYear 0.05131620332925185
YearsAtCompany 0.08474385592560403
YearsSinceLastPromotion 0.04929651393169238
YearsWithCurrManager 0.06500576457898677

In [25]:
for feature,imp in zip(feat,rf_model.feature_importances_):
    if imp > 0.07:
        print(feature)

Age
DistanceFromHome
MonthlyIncome
PercentSalaryHike
YearsAtCompany

In [41]:
predictors = pd.DataFrame([attr["Age"],attr["MonthlyIncome"],attr["PercentSalaryHike"],attr["DistanceFromHome"],attr["YearsAtCompany"]]).T

In [42]:
tree_model = tree.DecisionTreeClassifier(max_depth=10)

In [44]:
tree_model.fit(X = predictors,y = attr["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [47]:
with open('Dtree_Attrition.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Age','DistanceFromHome','MonthlyIncome','PercentSalaryHike','YearsAtCompany'],out_file=f);

In [49]:
accuracy = tree_model.score(X = predictors, y = attr['Attrition'])

In [50]:
print("Model accuracy is : " ,accuracy*100)

Model accuracy is :  93.33333333333333