Que1:

In [6]:
def companyname(company):
    name = company.split('@')[1].split('.')[0]
    print("Company name: ",name)
    
email = input("Enter the email address: ")
print("Entered address is :", email)
companyname(email)

Enter the email address: ahmedmorve@hotmail.com
Entered address is : ahmedmorve@hotmail.com
Company name:  hotmail

Que2:

In [13]:
def words(word):
    word = word.split(",")
    word = sorted(word)
    print("Sorted sequence is: ", ','.join(word))

given_words = input("Enter the words: ")
words(given_words)

Enter the words: without,hello,bag,world
Sorted sequence is:  bag,hello,without,world

Que3:

In [46]:
set1 = {"ahmed",1,1.999,"morve"}
print(set1)
set2 = {1,2,3,4,5}
set3 = {3,4,5,6,7}
print(set2)
print(set3)
print(type(set1))
print("SOME OPERATIONS ON SET")
for i in set1:  # to access all elements
    print(i)
print("ahmed" in set1) # to check wheether ahmed is present in set1
set1.add("LetUpgrader") # to add eelement in set
print(set1)
set1.update(["Love_LetsUpgrade"]) # to update in the set
print(set1)
print(len(set1)) # to print the length of set
set1.remove("LetUpgrader")
print(set1)
set1.clear() # to clear set
print(set1)
set4 = set2.union(set3)  #for union of set
print(set4)
set5 = set2.difference(set3)  #for difference of set
print(set5)
set6 = set2.intersection(set3)  # intersection of set
print(set6)
set7 = set2.issubset(set3) #to check whethet set is subset
print(set7)
set8 = set2.isdisjoint(set3)   #to check whethet set is disjoint set
print(set7)
set9 = set2.symmetric_difference(set3)  # to get the symmeteric differnece of set
print(set9)
set2.remove(1)  #to remove the element of set
print(set2)

{'ahmed', 1, 'morve', 1.999}
{1, 2, 3, 4, 5}
{3, 4, 5, 6, 7}
<class 'set'>
SOME OPERATIONS ON SET
ahmed
1
morve
1.999
True
{1, 1.999, 'ahmed', 'LetUpgrader', 'morve'}
{1, 1.999, 'ahmed', 'LetUpgrader', 'Love_LetsUpgrade', 'morve'}
6
{1, 1.999, 'ahmed', 'Love_LetsUpgrade', 'morve'}
set()
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{3, 4, 5}
False
False
{1, 2, 6, 7}
{2, 3, 4, 5}

Que4:

In [70]:
list1=input("Enter the numbers: ")
list1= list1.split(' ')
list2=[]
for i in list1:
    list2.append(int(i))
num = len(list2)+2
for i in range(1, num):
    if i not in list2:
        res=i
print('Missing number is:',res)

Enter the numbers: 1 2 3 4 6
Missing number is: 5

Que5:

In [88]:
list3 = input("Enter the numbers: ")
list3 = list3.split(" ")
print("Entered list is: ",list3)
list4 = []
for i in list3:
     if i not in list4:
        list4.append(i)
list5=" ".join(list4)
print("Afyer removing all duplicates : ",list5)

Enter the numbers: 12 24 35 24 88 120 155 88 120 155
Entered list is:  ['12', '24', '35', '24', '88', '120', '155', '88', '120', '155']
Afyer removing all duplicates :  12 24 35 88 120 155